.day {
  margin-bottom: 0.8em;
}

.time {
  padding-right: 0.805rem;
  border-color: rgba(0, 0, 0, 0.8);
  border-right-style: solid;
  border-width: 2px;
}

.description {
  margin-left: 0.3em;
}

.title {
  margin-bottom: 0.3em;
}

.title:first-of-type {
  margin-top: 1.61rem;
}

.presenter {
  font-size: 0.9em;
  color: #54585A;
}